body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #333333;
}

h1, h3, p, span, a {
  margin: 0px;
  padding: 0px;
}

* {
  font-family: 'Space Mono', monospace;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}